
body {
	background-color: #404040;
	font-family: sans-serif;
}

#main {
	background-color: #d0d0FF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #000000;
	width: 96%;
	margin: 0 auto;
	padding: 20px
}

#progressbar {
	margin: 10px;
	padding: 0;
	border: 1px solid #000000;
	height: 20px;
	width: 200px;
	background-color: #808080;
}

#progressbarinner {
	width: 10px;
	height: 20px;
	border: none;
	background-color: #00ff00;
}


